.grid-item {
  float: left;
  width: 50px;
  height: 50px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
}

.grid-item--width2 { width: 100px; }
.grid-item--height2 { height: 100px; }

.edu{
    color: red;
}

.fun{
    color: green;
}

.is-checked{
    background: green;
}

#background1{
	background-image: url(/pics/topM.png);
}
#background2{
	background-image: url(/pics/topM2.png);
	color: #d47719;
}
#background3{
	background-image: url(/pics/topM3.png);
}