.grid-item {	
  float: left;
  width: 96px;
  height: 96px;
  background: #f08315;
  border: 2px solid #f5810e;
}

.grid-item--width2 { width: 196px; }
.grid-item--height2 { height: 196px; }

.edu{
    color: red;
}

.fun{
    color: green;
}

.is-checked{
    background: green;
}

#grid{
	height: 800px;
}

#background1{
	background-image: url(/pics/topM.png);
}
#background2{
	background-image: url(/pics/topM2.png);
	color: #d47719;
}
#background3{
	background-image: url(/pics/topM3.png);
}

.grid-item img {	  
	position: absolute;
  width: 100%;
	height: 100%;
}

.grid-item p{
	color: white;
	position: absolute;
}
/*
.demo-list-three {
  width: 650px;
}
*/
